
h1{
    color:#AD1457;
    background-color: silver;
    font-size: 40px;
    text-align:center;
  }
p{
    background-color: lightblue;
    font-family: sans-serif;
    margin-top: auto;
    margin-left: 10px;
    padding-left: 15px;

  }
body{
    font-style: italic;
    background-color: grey;
  }
